<!DOCTYPE html>
<html>
<head>
  <title>Application Layout</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <p></p>
      <input class="btn" type="submit" value="Submit">
    </div>
    <div class="col-lg-4">
      <p></p>
      <input class="btn" type="submit" value="Submit">
    </div>
    <div class="col-lg-4">
      <p></p>
      <input class="btn" type="submit" value="Submit">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <p></p>
      <input class="btn" type="submit" value="Submit">
    </div>
    <div class="col-lg-4">
      <p></p>
      <input class="btn" type="submit" value="Submit">
    </div>
    <div class="col-lg-4">
      <p></p>
      <input class="btn" type="submit" value="Submit">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <p></p>
      <input class="btn" type="submit" value="Submit">
    </div>
    <div class="col-lg-4">
      <p></p>
      <input class="btn" type="submit" value="Submit">
    </div>
    <div class="col-lg-4">
      <p></p>
      <input class="btn" type="submit" value="Submit">
    </div>
  </div>
  <ul class="nav navbar-nav">
    <li><%= link_to 'Home', '#' %></li>
    <li><%= link_to 'About', '#' %></li>
    <li><%= link_to 'Contact', '#' %></li>
  </ul>
</div>
<%= yield %>
<%= javascript_include_tag "application" %>
</body>
</html>
